ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
SUBSCRIPTION_URL=
SUBSCRIPTION_REFRESH_INTERVAL=900
HEALTH_CHECK_INTERVAL=60
RUNTIME_MODE=single_active
POOL_ALGORITHM=sequential
HTTP_LISTEN_PORT=7777
SOCKS_LISTEN_PORT=7780
ADMIN_LISTEN_PORT=8080
SINGBOX_BINARY=sing-box
DB_PATH=data/proxypools.db
